* {

  margin: 4px;

  padding: 1px;

}

body {
  display: flex;
  justify-content: center;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    text-align: left;
    padding: 5px;
    display: flex;
    flex-direction: column;
    padding-right: 15px;
    margin: 0;
  }
  
  .title {
    color: rgb(0, 0, 0);
    font-size: 18px;
  }
  
.line{
  height: 15px;
  width: 100%;
  background-color: rgb(119, 138, 180);
}
  